/* Some tests */
@import "_test.css";

p{width:75%; background-color: azure}
/* Nesting example */
.test{
  display:flex;
  background-color:green;
  a{text-decoration: underline;
    h1{font-weight:700}
  }
}

.arf{
  background-position: top center;
  color:white;
  background-color:green;
  margin: 0 auto;
}

/* $red is imported from _test.css, the function comes from postcss */
.postcss{
  background: color($red alpha(-40%));
}

/* conditional styling from precss */
.precss {
  @if 3 < 5 {
    background: green;
  }
  @else {
    background: blue;
  }
}
